<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt-br"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Pizzaria</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/listarProdutos}">Novo pedido</a>
        </li>
        <li
          class="nav-item"
          th:if="${pedido != null && #lists.size(pedido.itensPedido) > 0}"
        >
          <a class="nav-link active" th:href="@{/confirmarPedido}"
            >Finalizar pedido</a
          >
        </li>
      </ul>
    </nav>

    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center">Confirme seus dados</h1>
        <p>
          <span class="h5">Nome: </span><span th:text="${cliente.nome}"></span>
        </p>
        <p>
          <span class="h5">Telefone: </span
          ><span th:text="${cliente.telefone}"></span>
        </p>
        <p>
          <span class="h5">Endereço de entrega: </span>
          <span th:text="${cliente.enderecoEntrega}"></span>
        </p>
        <a th:href="@{/alterarEndereco}"
          ><button class="btn btn-warning">Alterar endereço</button></a
        >
        <a th:href="@{/formaDePagamento}"
          ><button class="btn btn-primary">Prosseguir</button></a
        >
      </div>
    </div>
  </body>
</html>
