<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt-br"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Pizzaria</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/listarProdutos}">Novo pedido</a>
        </li>
        <li
          class="nav-item"
          th:if="${pedido != null && #lists.size(pedido.itensPedido) > 0}"
        >
          <a class="nav-link" th:href="@{/confirmarPedido}">Finalizar pedido</a>
        </li>
      </ul>
    </nav>

    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center mb-5">
          Selecionar forma de pagamento
        </h1>

        <form
          method="POST"
          th:object="${pedido}"
          th:action="@{/registrarPedido}"
        >
          <select class="form-select mb-3" th:field="*{pagamento}">
            <option value="pix">PIX</option>
            <option value="debito">Débito</option>
            <option value="credito">Crédito</option>
            <option value="dinheiro">Dinheiro</option>
          </select>

          <button class="btn btn-success">Finalizar</button>
        </form>
      </div>
    </div>
  </body>
</html>
